*{
  padding: 0;
  margin: 0;
}

.estiloBody{
  background-color: #fff;  
}

/*#########################################################*/
/*Escritorio*/
/*#########################################################*/
@media only screen and (min-width: 1024px){
/*############################################*/
/*GENERAL*/
/*############################################*/
.titulos{
  font-family: "Open Sans", sans-serif;
  font:100%;
  font-size: calc(1px + 1.5vw);
  /*color:rgb(202, 202, 202);*/
  padding: 0;
  color: #5082AA;
}

.subTitulos{
  font-family: "Open Sans", sans-serif;
  font:100%;
  font-size: calc(1px + 1.5vw);
  color:#5082AA;
  padding: 1% 0%;
}

/*############################################*/
/*INTRO*/
/*############################################*/

.formatoLetraHome{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.3vw);
  font-family: Courier, monospace;
}

.contenedorPresentacion{
  background-color: rgb(47, 47, 47);

  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  
}

/*CURSOR*/
@keyframes titila {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.titila {
  animation: titila 1s infinite;
}

/*FLECHA A PORTFOLIO*/
.contenedorFlecha{
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: 5%;
  transform: translateY(-50%);

  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.formatoFlecha {
  color: rgb(202, 202, 202);
  font-size: calc(1px + 3vw);
  vertical-align: middle; 
}

.formatoTituloFlecha{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.5vw);
  position: absolute;
  right: -4500%;
  transition: right 0.3s ease, font-size 0.3s ease;
  line-height: 3;
  font:100% monospace ;
}

.contenedorFlecha:hover .formatoFlecha {
  font-size: calc(1px + 4vw);
}

.contenedorFlecha:hover .formatoTituloFlecha {
  right: 110%;
  font-size: calc(1px + 2vw);
  line-height: 1.8;
}

/*############################################*/
/*BARRA*/
/*############################################*/
.estiloBarraMenu {
  z-index: 15;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
}

.contenedorIconoMenu{
  display: none;
}

.estiloLista{
  background-color: #fff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 10px 10px -10px black;/*rgba(255, 255, 255, 0.5)*/
  margin: 0;
}

.itemLista{ 
  padding-left: 1%;
  padding-right: 1%;
}

.estiloLink{
  text-decoration: none;
  color: black;

  position: relative;
  
  display: inline-block;
  overflow: hidden;

  transition: color 0.3s ease;
}

.estiloLink:hover{
  color: #5082AA;
}

/*############################################*/
/*FICHA*/
/*############################################*/
.fichaTecnica{
    box-shadow: 0 0px 5px 1px #5082AA;/*rgba(255, 255, 255, 0.5);*/
    background-color: #E4ECED;/*rgba(8, 103, 136, 0.5);/*2, 84, 100*/
    
    width: 35%;
    height: 25%;
    
    top: 10vh;
    
    margin-top: 7%;
    /*margin: 2% 3% 3% 0%;*/
    padding-bottom: 1%;
    padding-top: 1%;

    text-align: center;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;  
  
  /*position: relative;*/
  overflow: hidden; /* opcional, evita el desborde visual */
}

.fichaTecnica img{
    width: 60%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #5082AA;
    /*margin: 2%;*/
    
}

.contenedorPFicha{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  
  width: 60%;
}

.botonDescargaFicha{
  width: 60%;
  font-size: calc(2px + 1vw);
    
    
    /*margin-top: 15%;*/
    padding: 1%;
  
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  
    background-color: #5082AA;
    color: #fff;
    transition:all .5s ease-in-out;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6;

    border: 2px solid #E4ECED;
}

.botonDescargaFicha:hover{
  background-color: #fff;
  color: #5082AA;
  border: 2px solid #5082AA;
}

.contenedorImgCvFicha{
  margin-right: 5%;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
}

.iconoInfoFicha{
 margin-right: 5px;
 
}

.contenedorNombreBotonesFicha{
  margin-left: 5%;
 
}

.contenedorNombre{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.contenedorBotones{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  align-content: normal;

}

.botonFicha{
    width: 50%;
    font-size: calc(2px + 1vw);
    margin: 2%;
    padding: 1%;
  
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  
    background-color: #5082AA;
    color: #fff;
    transition:all .5s ease-in-out;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6;

    border: 2px solid #E4ECED;
}

.botonFicha:hover{
    background-color: #fff;
    color: #5082AA;
    border: 2px solid #5082AA;
}

.fuenteFicha{
  color: #5082AA;
  font-size: calc(1px + 1.3vw);
  font-family: "Open Sans", sans-serif;
}

.fuenteFichaMail{
  color: black;
  font-size: calc(1px + 1.2vw);
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  padding: 0 8%;
  margin-right: 2%;
}

.fuenteFichaTitulo{
  color: #5082AA;
  font-size: calc(1px + 3.5vw);
  font-weight: bold;
  font-family: "Open Sans", sans-serif;  
}

.tamanioIconoLinkedin{
  font-size: calc(1px + 2vw);   
}

.tamanioIconoGithub{
  font-size: calc(1px + 1.7vw);
  padding: 2%;
  margin-left: 2%;
}

.tamanioIconoCopy{
  font-size: calc(1px + 1.7vw);
  color: #5082AA;
}

.botonCopiarCorreo{
  all: unset;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.botonCopiarCorreo :hover{
  color: #fff;
}

.contenedorMailBoton{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}



/*
.containerFichaCuerpo{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  box-sizing: border-box;
}*/

/*############################################*/
/*ABOUT*/
/*############################################*/

.contenedorAboutSkills{
  /*background-color: aqua;*/
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  box-sizing: border-box;
  width: 100%;
}


.contenedorParrafoAbout{
  width: 60%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  padding: 1% 2% 2% 2%;
  
  box-shadow: 0 0px 5px 1px #5082AA;
  background-color: #E4ECED;
}

.contenedorParrafoAbout p{
  margin: calc(0.5px + 0.5vw);
  padding: 0;
  line-height: 1.8;
}

.fuenteParrafosAbout{
    font-family: "Open Sans", sans-serif;
    font-size: calc(3px + 1vw);
    margin: calc(0.5px + 0.8vw);    
    color: #5082AA;
}

/*
font-size: calc(1px + 1.7vw);
  color: #5082AA;

  font-family: "Open Sans", sans-serif;
    font-weight: bold;
*/

.contenedorHabilidades{
  width: 60%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  padding: 1% 2% 2% 2%;
  box-sizing:content-box;
  box-shadow: 0 0px 5px 1px #5082AA;
  
  background-color: #E4ECED;
}

.contenedorSkills{
  width: 100%;
  height: auto;  
  box-sizing:content-box;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: normal;
}

.contenedorBase{
  /*background-color: red;*/
  white-space: nowrap;
}

.imagenLogos{
  box-sizing:content-box;
  width: calc(10px + 1vw);
  height: auto;
  padding: 0px;
  margin: 0px;
}

.unaSkill{
  width: 100%;
  /*background-color: #5082AA;*/
  color: #5082AA;
  
  font-size: calc(2px + 1vw); 
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; 

  margin: 2%;
  padding: 5% 5% 5% 0%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  align-content: normal;
}

.unaSkill p{
  padding-left: 5%;
}



/*############################################*/
/*PROYECTOS*/
/*############################################*/
.paginaProyectos{
  /*background-color: aquamarine;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  width: 100%;
}

.contenedorProyectos{
  /*background-color: aqua;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: normal;

  margin-top: 1%;
  width: 50%;
  box-sizing: border-box;  
}

.tituloProyectos{
  margin-bottom: 1%;
}

.proyetosGrid{
  padding: 0;
  margin: 0;
  margin-bottom: 3%; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0% 3%;
}

.tarjetaProyectos{
  background-color: #E4ECED;
  box-shadow: 0 0px 5px 1px #5082AA;
  margin: 3%;
  /**/
  /*border: 5px solid #5082AA;*/
  
}

.contenidoProyecto{
  padding: 1%;
}

.imagenTarjetaProyectos{
  width: 100%;
}

.textoTarjetaProyectos{
  font-family: "Open Sans", sans-serif;
  font-size: calc(1.5px + 1vw);
  /*margin: calc(0.5px + 0.8vw);    */
  color: #5082AA;
}

.tecnologiasProyecto{

  margin-top: 1%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: normal;
}

.botonesProyecto{
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}

.botonDeshabilitado{

  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

/*############################################*/
/*EXPERIENCIA*/
/*############################################*/
.unaClase{
  /*background-color: brown;*/
  width: 100%;
}
.contenedorTarjetaExperiencia{
  background-color: #E4ECED;
  padding: 1%;
  margin: 1%;
  margin-bottom: 3%;
  box-shadow: 0px 0px 5px 1px #5082AA;
}
.contenedorInicioExpe{
  /*background-color: blue;*/
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}

.articuloTrabajo{
  /*background-color: aqua;*/
  background-color:#E4ECED;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 0px 5px 1px #5082AA;
  margin-bottom: 2%;
  width: 100%;
  
}


.estiloListaTrabajo{
  padding-left: 5%;
}

/*LETRAS*/
.letraPuestoTrabajo{
  font-family: "Open Sans", sans-serif;
  font-size: calc(6px + 0.8vw);
  font-weight: bold;
  color: #5082AA;
}

.letraTrabajoCursiva{
  font-family: "Open Sans", sans-serif;
  font-size: calc(6px + 0.6vw);
  font-weight: bold; 
  font-style: italic; 
  color: #5082AA;  
}

.letraTrabajo{
  font-family: "Open Sans", sans-serif;
  font-size: calc(6px + 0.6vw);
  font-weight: bold;
  color: #5082AA;
}

/*OTRAS EXPERIENCIAS*/
.contenedorTituloIconoExp{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1%;
}

.estiloBotonExpandible{
  margin-left: calc(6px + 0.6vw);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.estiloIconoBotonExp{
  color: #5082AA;
  font-size: calc(1px + 1.5vw); 
}
/*############################################*/
/*EDUCACION*/
/*############################################*/
.contenedorDeCursos{
  width: 50%;
  margin-bottom: 1%;
}

.contenedorGridCursos{
  /*background-color: red;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0% 3%;
}

.imagenCursos{
  width: 60%;
  height: auto;
  box-shadow: 0px 0px 5px 1px #5082AA;
  border-radius: 3%;
  margin-bottom: 0%;
  cursor: pointer;
}

.imagenCursos:hover{
  -webkit-transform:scale(1.1);
  transform:scale(1.1); 
}

/*GALERIA*/
.contenedorGaleria{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*transition: .5s;*/
}

.imagenGaleria{
    width: 60%;
    height: auto;
}

.botonGaleria{
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: calc(6px + 2vw);
  padding: 0;
  line-height: 0;
}

.contenedorArticuloCursos{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.contenedorArticuloCursos p{
  padding-top: 2%;
  padding-bottom: 2%;
}

.cursoLetra{
  font-size: calc(3px + 1vw);
  color: rgb(202, 202, 202);
  font-family: Courier, monospace;
}

}

/*#########################################################*/
/*Tablet*/
/*#########################################################*/
@media only screen and (min-width: 767px) and (max-width: 1024px){
.titulos{
  font-family: "Open Sans", sans-serif;
  font:100%;
  font-size: calc(3px + 2vw);
  color:#5082AA;
  padding: 1% 0%;
}

.subTitulos{
  font-family: "Open Sans", sans-serif;
  font:100%;
  font-size: calc(3px + 1.5vw);
  color:#5082AA;
  padding: 1% 0%;
}

/*############################################*/
/*INTRO*/
/*############################################*/
.formatoLetraHome{
  font: 100% monospace;
  color: rgb(202, 202, 202);
  font-size: calc(2px + 1.5vw);
}

.contenedorPresentacion{
  background-color: rgb(47, 47, 47);

  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  
}

/*CURSOR*/
@keyframes titila {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.titila {
  animation: titila 1s infinite;
}

/*FLECHA A PORTFOLIO*/
.contenedorFlecha{
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: 5%;
  transform: translateY(-50%);

  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.formatoFlecha {
  color: rgb(202, 202, 202);
  font-size: calc(1px + 3vw);
  vertical-align: middle; 
}

.formatoTituloFlecha{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.5vw);
  position: absolute;
  right: -4500%;
  transition: right 0.3s ease, font-size 0.3s ease;
  line-height: 3;
  font:100% monospace ;
}

.contenedorFlecha:hover .formatoFlecha {
  font-size: calc(1px + 4vw);
}

.contenedorFlecha:hover .formatoTituloFlecha {
  right: 110%;
  font-size: calc(1px + 2vw);
  line-height: 1.8;
}
/*############################################*/
/*BARRA*/
/*############################################*/
.estiloBarraMenu{
  position: sticky;
  top: 0;  
}

.estiloBarraMenu:active{
  z-index: 998;
}

.contenedorIconoMenu{
  z-index: 999;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 1rem; /* Posición en la parte superior */
  right: 1rem; /* Posición a la derecha */
  left: 90%;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: 2%;
  border-radius: 50%;  
}

.contenedorIconoMenu span{
  background-color: #5082AA;
  width: 100%;
  height: 2px;
  transform-origin: 0px 100%;
  transition: all 400ms;
  cursor: pointer;
  
}

.contenedorIconoMenu.cruz span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px);
}

.contenedorIconoMenu.cruz span:nth-child(2) {
  opacity: 0;
  margin-right: 30%;
}

.contenedorIconoMenu.cruz span:nth-child(3) {
  transform: rotate(-45deg) translate(-2px, -1px);
}

.estiloLista{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  background-color: #E4ECED;/*#5082AA*/
  position: fixed;
  top: 0;
  list-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.5);
  margin: 0;  
}

.estiloLista.activo {
  transform: translateY(0);
  z-index: 998;
}

.itemLista {
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1rem;
}

.estiloLink{
  text-decoration: none;
  color: #5082AA;

  position: relative;
  display: inline-block;
  overflow: hidden;

  transition: color 0.3s ease;
}
.transformacionPalabra{
  transition: transform 0.2s ease-out;
  display: inline-block;
  font-size: calc(2px + 2vw);
}

.transformacionIcono{
  transition: transform 0.2s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);

  font-size: calc(2px + 2vw);
}

.estiloLink:hover .transformacionPalabra {
  transform: translateY(100%);
}

.estiloLink:hover .transformacionIcono,
.estiloLink:hover span:last-child {
  transform: translateY(0);
}

.estiloLista li{
  padding-top: 3%;
  padding-bottom: 3%;
}


/*############################################*/
/*HOME*/
/*############################################*/
.paginaProyectos{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  width: 100%;
}
/*############################################*/
/*FICHA TECNICA*/
/*############################################*/
.fuenteFicha{
  color: #5082AA;
  font-size: calc(1px + 1.3vw);
  font-family: "Open Sans", sans-serif;
}

.fichaTecnica {
  background-color: #E4ECED;
  box-shadow: 0 0px 5px 1px #5082AA;
  
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  
  margin-top: 12%;
  /*top: 10vh;*/
  width: 35%;
  height: 25%;

  top: 10vh;

  padding-bottom: 1%;
  padding-top: 1%;   
}

.contenedorImgCvFicha{
  
  width: 50%;
  padding-bottom: 1%;
  padding-top: 1%;

  margin-right: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: stretch;
  gap: 5;
}

.contenedorNombreBotonesFicha {
  
  width: 50%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-left: 5%;
}

/*LADO IMAGEN*/
.fichaTecnica img{
  width: 60%;
  height: auto;

  border-radius: 50%;
  border: 5px solid #5082AA;
  /*margin: 2%;*/
}

.contenedorPFicha{
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  
  width: 63%;

  text-align: center;

  margin-bottom: 5%;
  margin-top: 5%;
}

.botonDescargaFicha{
  width: 60%;
  font-size: calc(2px + 1vw);
     
  /*margin-top: 15%;*/
  padding: 1%;
  
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  
  background-color: #5082AA;
  color: #fff;
  transition:all .5s ease-in-out;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6;
  border: 2px solid #E4ECED;
}

.botonDescargaFicha:hover{
  background-color: #fff;
  color: #5082AA;
  border: 2px solid #5082AA;
}

.contenedorNombre{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.contenedorBotones{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  align-content: normal;
}

.botonFicha{
    width: 50%;
    font-size: calc(2px + 1vw);
    margin: 2%;
    padding: 1%;
  
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  
    background-color: #5082AA;
    color: #fff;
    transition:all .5s ease-in-out;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6;

    border: 2px solid #E4ECED;
}

.botonFicha:hover{
    background-color: #fff;
    color: #5082AA;
    border: 2px solid #5082AA;
}

.fuenteFichaMail{
  color: black;
  font-size: calc(1px + 1.2vw);
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  padding: 0 8%;
  margin-right: 2%;
}

.fuenteFichaTitulo{
  color: #5082AA;
  font-size: calc(1px + 3.5vw);
  font-weight: bold;
  font-family: "Open Sans", sans-serif;  
}

.tamanioIconoLinkedin{
  font-size: calc(1px + 2vw);   
}

.tamanioIconoGithub{
  font-size: calc(1px + 1.7vw);
  padding: 2%;
  margin-left: 2%;
}

.tamanioIconoCopy{
  font-size: calc(1px + 1.7vw);
  color: #5082AA;
}

.botonCopiarCorreo{
  all: unset;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.botonCopiarCorreo :hover{
  color: #fff;
}

.contenedorMailBoton{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}

/*############################################*/
/*ABOUT*/
/*############################################*/
.contenedorAboutSkills{
  margin-top: 7%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  box-sizing: border-box;
  width: 100%;
}

.contenedorParrafoAbout,
.contenedorHabilidades {
  width: 100%;
  box-shadow: 0 0px 5px 1px #5082AA;
  background-color: #E4ECED;
}

.contenedorParrafoAbout{
  width: 60%;
  height: auto;
  /*padding: 0% 0% 3% 0%;*/
  margin-top: 2%;
  margin-bottom: 4%;
  padding: 1% 2% 2% 2%;
}

.contenedorParrafoAbout p{
  margin: calc(0.5px + 0.5vw);
  padding: 0;
  line-height: 1.8;
}

.fuenteParrafosAbout{
  font:100% "Open Sans", sans-serif;
  font-size: calc(4px + 1.2vw);
  margin: calc(0.5px + 0.8vw);
  padding: 1%;
  color:#5082AA;
}

.contenedorHabilidades{
  width: 60%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  padding: 1% 2% 2% 2%;
  box-sizing:content-box;
  box-shadow: 0 0px 5px 1px #5082AA;
  
  background-color: #E4ECED;
}

.contenedorSkills{
  width: 100%;
  padding-left: 2%;
  box-sizing: border-box;
  /*display: grid;
  grid-template-columns: repeat(4,1fr);*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: normal;
}

.contenedorBase{
  white-space: nowrap;
}

.imagenLogos{
  box-sizing:content-box;
  width: calc(10px + 1vw);
  height: auto;
  padding: 0px;
  margin: 0px;
}

.unaSkill{
  width: 100%;
  /*background-color: #5082AA;*/
  color: #5082AA;
  
  font-size: calc(4px + 1vw); 
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; 

  margin: 2%;
  padding: 5% 5% 5% 0%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  align-content: normal;
}

.unaSkill p{
  padding-left: 5%;
}


/*############################################*/
/*PROYECTOS*/
/*############################################*/
.paginaProyectos{
  margin-top: 7%;
  /*background-color: aquamarine;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  width: 100%;
}

.contenedorProyectos{
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: normal;

  margin-top: 1%;
  width: 60%;
  box-sizing: border-box;  
}

.tituloProyectos{
  margin-bottom: 1%;
}

.proyetosGrid{
  padding: 0;
  margin: 0;
  margin-bottom: 3%; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0% 3%;
}

.tarjetaProyectos{
  background-color: #E4ECED;
  box-shadow: 0 0px 5px 1px #5082AA;
  margin: 3%;
}

/*TARJETA PROYECTO*/
.tarjetaProyectos{
  background-color: #E4ECED;
  box-shadow: 0 0px 5px 1px #5082AA;
  margin: 3%;
}

.contenidoProyecto{
  padding: 1%;
}

.imagenTarjetaProyectos{
  width: 100%;
}

.textoTarjetaProyectos{
  font-family: "Open Sans", sans-serif;
  font-size: calc(1.5px + 1.2vw);
  color: #5082AA;
}

.tecnologiasProyecto{
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: normal;
}

.botonesProyecto{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}

.botonDeshabilitado{
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.titulosTabletCel{
  font-family: "Open Sans", sans-serif;
  font:100%;
  font-size: calc(1px + 1.5vw);
  padding: 0;
  color: #5082AA;
}

/*############################################*/
/*EXPERIENCIA*/
/*############################################*/
.unaClase{
  width: 100%;
}

.contenedorTarjetaExperiencia{
  background-color: #E4ECED;
  padding: 1%;
  margin: 1%;
  margin-bottom: 3%;
  box-shadow: 0px 0px 5px 1px #5082AA;
}

.contenedorInicioExpe{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}

.articuloTrabajo{
  background-color:#E4ECED;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 0px 5px 1px #5082AA;
  margin-bottom: 2%;
  width: 100%;
}

.estiloListaTrabajo{
  padding-left: 5%;
}

/*LETRAS*/
.letraPuestoTrabajo{
  font-family: "Open Sans", sans-serif;
  font-size: calc(6px + 0.9vw);
  font-weight: bold;
  color: #5082AA;
}

.letraTrabajoCursiva{
  font-family: "Open Sans", sans-serif;
  font-size: calc(6px + 0.7vw);
  font-weight: bold; 
  font-style: italic; 
  color: #5082AA;  
}

.letraTrabajo{
  font-family: "Open Sans", sans-serif;
  font-size: calc(6px + 0.7vw);
  font-weight: bold;
  color: #5082AA;
}


/*OTRAS EXPERIENCIAS*/
.contenedorTituloIconoExp{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1%;
}

.estiloBotonExpandible{
  margin-left: calc(6px + 0.7vw);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.estiloIconoBotonExp{
  color: #5082AA;
  font-size: calc(1px + 1.6vw); 
}

/*############################################*/
/*EDUCACION*/
/*############################################*/
.contenedorDeCursos{
  width: 60%;
  margin-bottom: 1%;
}

.contenedorGridCursos{
  /*background-color: red;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0% 3%;
}

.imagenCursos{
  width: 60%;
  height: auto;
  box-shadow: 0px 0px 5px 1px #5082AA;
  border-radius: 3%;
  margin-bottom: 0%;
  cursor: pointer;
}

.imagenCursos:hover{
  -webkit-transform:scale(1.1);
  transform:scale(1.1); 
}

/*GALERIA*/
.contenedorGaleria{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*transition: .5s;*/
}

.imagenGaleria{
    width: 80%;
    height: auto;
}

.botonGaleria{
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: calc(6px + 2vw);
  padding: 0;
  line-height: 0;
}

.contenedorArticuloCursos{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.contenedorArticuloCursos p{
  padding-top: 2%;
  padding-bottom: 2%;
}

.cursoLetra{
  font-size: calc(3px + 1.5vw);
  color: rgb(202, 202, 202);
  font-family: Courier, monospace;
}

}

/*##################################################################################################################*/
/*Celular*/
/*##################################################################################################################*/
@media only screen and (max-width: 767px){
  .titulos{
  font-family: "Open Sans", sans-serif;
  font:100%;
  font-size: calc(6px + 2.5vw);
  color:#5082AA;;
  padding: 1% 0%;
}

.subTitulos{
  font-family: "Open Sans", sans-serif;
  font:100%;
  font-size: calc(5px + 2vw);
  color:#5082AA;
  padding: 1% 0%;
}

/*############################################*/
/*INTRO*/
/*############################################*/
.formatoLetraHome{
  color: rgb(202, 202, 202);
  font-size: calc(3px + 1.8vw);
}

.contenedorPresentacion{
  background-color: rgb(47, 47, 47);

  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  
}

/*CURSOR*/
@keyframes titila {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.titila {
  animation: titila 1s infinite;
}

/*FLECHA A PORTFOLIO*/
.contenedorFlecha{
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: 5%;
  transform: translateY(-50%);

  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.formatoFlecha {
  color: rgb(202, 202, 202);
  font-size: calc(4px + 5vw);
  vertical-align: middle; 
}

.formatoTituloFlecha{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.5vw);
  position: absolute;
  right: -4500%;
  transition: right 0.3s ease, font-size 0.3s ease;
  line-height: 3;
  font:100% monospace ;
}

.contenedorFlecha:hover .formatoFlecha {
  font-size: calc(1px + 4vw);
}

.contenedorFlecha:hover .formatoTituloFlecha {
  right: 110%;
  font-size: calc(1px + 2vw);
  line-height: 1.8;
}
/*############################################*/
/*BARRA*/
/*############################################*/
.estiloBarraMenu{
  position: sticky;
  top: 0;  
}

.estiloBarraMenu:active{
  z-index: 998;
}

.contenedorIconoMenu{
  z-index: 999;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 1rem; /* Posición en la parte superior */
  right: 1rem; /* Posición a la derecha */
  left: 85%;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: 2%;
  border-radius: 50%;  
  
}

.contenedorIconoMenu span{
  background-color: #5082AA;
  width: 100%;
  height: 2px;
  transform-origin: 0px 100%;
  transition: all 400ms;
  cursor: pointer;
}

.contenedorIconoMenu.cruz span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px);
}

.contenedorIconoMenu.cruz span:nth-child(2) {
  opacity: 0;
  margin-right: 30%;
}

.contenedorIconoMenu.cruz span:nth-child(3) {
  transform: rotate(-45deg) translate(-2px, -1px);
}

.estiloLista{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  background-color: #E4ECED;
  position: fixed;
  top: 0;
  list-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.5);
  margin: 0;  
}

.estiloLista.activo {
  transform: translateY(0);
  z-index: 998;
}

.itemLista {
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1rem;
}

.estiloLink{
  text-decoration: none;
  color: #5082AA;
  font-family: "Open Sans", sans-serif;
  font-size: calc(10px + 2vw);
  position: relative;
  display: inline-block;
  overflow: hidden;

  transition: color 0.3s ease;
}
.transformacionPalabra{
  transition: transform 0.2s ease-out;
  display: inline-block;
  font-size: calc(5px + 4vw);
}

.transformacionIcono{
  transition: transform 0.2s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);

  font-size: calc(5px + 4vw);
}

.estiloLink:hover .transformacionPalabra {
  transform: translateY(100%);
}

.estiloLink:hover .transformacionIcono,
.estiloLink:hover span:last-child {
  transform: translateY(0);
}

.estiloLista li{
  padding-top: 3%;
  padding-bottom: 3%;
}

/*############################################*/
/*HOME*/
/*############################################*/
.paginaProyectos{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  width: 100%;
}

/*############################################*/
/*FICHA TECNICA*/
/*############################################*/
.fuenteFicha{
  color: #5082AA;
  font-size: calc(10px + 2vw);
  font-family: "Open Sans", sans-serif;
}

.fichaTecnica {
  background-color: #E4ECED;
  box-shadow: 0 0px 5px 1px #5082AA;
  margin-top: 25%;
  width: 80%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;

  padding-bottom: 1%;
  padding-top: 1%;
  
}

/*LADO IMAGEN*/
.contenedorImgCvFicha{
  height: 50%;
  padding-bottom: 1%;
  padding-top: 1%;

  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  gap: 5;
}

.fichaTecnica img{
  width: 45%;
  height: auto;

  border-radius: 50%;
  border: 4px solid #5082AA;
  /*margin: 2%;*/
}

.contenedorPFicha{
  /*background-color: aquamarine;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  
  width: 63%;

  text-align: center;

  margin-bottom: 3%;
  margin-top: 3%;
}

.botonDescargaFicha{
  width: 40%;
  font-size: calc(6px + 2.5vw);
     
  /*margin-top: 15%;*/
  padding: 1%;
  
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  
  background-color: #5082AA;
  color: #fff;
  transition:all .5s ease-in-out;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6;
  border: 2px solid #E4ECED;
}

.botonDescargaFicha:hover{
  background-color: #fff;
  color: #5082AA;
  border: 2px solid #5082AA;
}

/*LADO NOMBRE*/
.fuenteFichaTitulo{
  color: #5082AA;
  font-size: calc(10px + 5vw);
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.contenedorNombreBotonesFicha {
  max-height: 50%;
  width: 93%;
  margin-left: 1%;
  margin-right: 1%;

  padding-left: 5%;
   
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  
  box-sizing: border-box;
}

.contenedorNombre{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.contenedorBotones{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  align-content: normal;
}

.botonFicha{
    width: 50%;
    font-size: calc(10px + 2vw);
    margin: 2%;
    padding: 1%;
  
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  
    background-color: #5082AA;
    color: #fff;
    transition:all .5s ease-in-out;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6;

    border: 2px solid #E4ECED;
}

.botonFicha:hover{
    background-color: #fff;
    color: #5082AA;
    border: 2px solid #5082AA;
}

.contenedorMailBoton{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
}

.fuenteFichaMail{
  color: black;
  font-size: calc(5px + 4vw);
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  padding: 0 2%;
  /*margin-right: 2%;*/
}

.tamanioIconoLinkedin{
  font-size: calc(5px + 6vw);   
}

.tamanioIconoGithub{
  font-size: calc(5px + 5vw);
  padding: 2%;
  margin-left: 2%;
}

.tamanioIconoCopy{
  font-size: calc(4px + 6vw);
  color: #5082AA;
}

.botonCopiarCorreo{
  all: unset;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.botonCopiarCorreo :hover{
  color: #fff;
}


/*############################################*/
/*ABOUT*/
/*############################################*/
.contenedorAboutSkills{
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.contenedorParrafoAbout,
.contenedorHabilidades {
  width: 100%;
}

.contenedorParrafoAbout{
  width: auto;
  height: auto;
  padding: 0% 0% 3% 0%;
}

.fuenteParrafosAbout{
  font:100% monospace;
  font-size: calc(3px + 3vw);
  padding: 1%;
  color:rgb(202, 202, 202);
}

.contenedorSkills{
  width: 100%;
  padding-left: 2%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}

.imagenLogos{
    width: 60%;
    height: auto;
    padding: 5% 0%;
}

/*############################################*/
/*PROYECTOS*/
/*############################################*/
.contenedorProyectos{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.proyetosGrid{
  padding: 0;
  margin: 0;
  margin-bottom: 3%; 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0% 3%;
}

.tarjetaProyectos{
  padding-bottom: 4%;
  margin: 0;
}

.tarjetaProyectos a{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  text-decoration: none;
}

.tarjetaProyectos h1{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal
}

.imagenTarjetaProyectos{
  width:70%;
  height:auto;
}

.textoTarjetaProyectos{
  text-align: start;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  text-decoration: none;

  margin-top: 1rem;
}

.tecnologiasSpan{
  min-width: calc(10px + 4vw);
  text-align: center; 
  display: inline-block;
  color: rgb(202, 202, 202);
  font-family: 100% monospace;
  background-color: rgb(8, 103, 136);
  box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  padding: 0.3rem 0.8rem;
  margin: 0.3rem;
}

.tituloTarjetaProyectos{
  text-align: start;
  font: 100% monospace;
  font-size: calc(8px + 2vw);
  color:rgb(202, 202, 202);
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
}

.paddinResponsive{
  padding: 3%;
}

/*############################################*/
/*EXPERIENCIA*/
/*############################################*/
.cuerpoExperiencia{
  box-sizing: border-box;
  margin-left: 5%;  
}

.contenedorInicioExpe{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.articuloTrabajo{
  background-color:rgba(8, 103, 136, 0.2);
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 0px 5px 1px rgb(202, 202, 202);
  margin-bottom: 2%;
  width: 90%;
  /*margin-left: 5%;*/
}

.estiloListaTrabajo{
  padding-left: 5%;
}

/*LETRAS*/
.letraPuestoTrabajo{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 2vw);
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.letraTrabajoCursiva{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 1.8vw);
  font-weight: bold; 
  font-style: italic; 
  color: rgb(202, 202, 202);  
}

.letraTrabajo{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 1.8vw);
  font-weight: bold;
  color: rgb(202, 202, 202);
}

/*OTRAS EXPERIENCIAS*/
.contenedorTituloIconoExp{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 3%;
  
  margin-left: 5%; 
}

.estiloBotonExpandible{
  margin-left: calc(6px + 0.6vw);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.estiloIconoBotonExp{
  color: rgb(202, 202, 202);
  font-size: calc(2px + 5vw); 
}

/*############################################*/
/*EDUCACION*/
/*############################################*/
.marginEducacion{
  margin-left: calc(20px + 1.5vw);
}

.contenedorGridCursos{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0% 3%;
}

.imagenCursos{
  width: 70%;
  height: auto;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 3%;
  margin-bottom: 0%;
  cursor: pointer;
}

/*GALERIA*/
.contenedorGaleria{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*transition: .5s;*/
}

.imagenGaleria{
    width: 80%;
    height: auto;
}

.botonGaleria{
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: calc(6px + 3vw);
  padding: 0;
  line-height: 0;
}

.contenedorArticuloCursos{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.contenedorArticuloCursos p{
  padding-top: 2%;
  padding-bottom: 2%;
}

.cursoLetra{
  font-size: calc(5px + 2.5vw);
  color: rgb(202, 202, 202);
  font-family: Courier, monospace;
}

}