body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  /*color: yellowgreen;*/
}

code {
  font-family: "Open Sans", sans-serif;
}

/*############################################*/
/*TOOLTIP*/
/*############################################*/

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0.9;
}

.tooltip.show {
  opacity: 0.9;
}

.tooltip .tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}

.tooltip.bs-tooltip-right .tooltip-arrow::before {
  border-right-color: #000;
}

.tooltip .tooltip-arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}

.tooltip.bs-tooltip-right .tooltip-arrow {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}